.chart__container {
  display: flex;
  max-width: 100%;
  min-height: 15rem;
}

@media (min-width: 48rem) {
  .chart__container {
    justify-content: center;
    > div {
      max-width: 40rem;
    }
  }
}
