.button {
  min-width: 24px;
  min-height: 24px;
  background-color: #8a2be2;
  border-radius: 6px;
  padding: 0.35rem;
  border: none;
}

.button:hover {
  cursor: pointer;
  filter: contrast(85%);
}
