.add-exercise-form {
  padding: var(--space-3);
  border: 0.0625rem dashed var(--border);
  border-radius: var(--radius-sm);
  max-width: 50%;
  margin: auto;

  @media (max-width: 37.5rem) {
    max-width: 100%;
  }
}

.add-exercise-form__checkboxes {
  flex-wrap: wrap;
}

.add-exercise-form__select {
  width: 100%;
  min-height: 2rem;
}

