.home {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.home__overview {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;
  flex-wrap: wrap;
  padding: 1rem 0;
  text-align: center;
}

.home__overview__title {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home__overview__exercise {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.home_next-session_footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
