@use "../../styles/breakpoints" as *;

.add-cardio-form {
  display: flex;
  align-items: last baseline;
  gap: var(--space-3);
  flex-wrap: wrap;
  justify-content: center;

  @include desktop-up {
    max-width: 50%;
    margin: auto;
  }
}
